:root {
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --light-color: #fafbff;
  --light-color-b: #e9e9e9;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  font-family: "Alexandria", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  background: var(--light-color);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--light-color);
}
body {
  /* margin: 0;
  padding: 0; */
  /* font-family: "Alexandria", sans-serif; */
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}

#form-container {
  /* margin-top: 150px */
  /* margin: 15px;
  padding: 15px; */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  transform: translateY(-4em);
}

form {
  margin: 10px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input-field {
  margin: 5px;
  width: 230px;
  height: 35px;
  padding: 3px;
  border: 2px solid black;
  background: var(--light-color-b);
}

#submit-btn {
  margin: 5px;
  width: 110px;
  height: 35px;
}

/* header */
#logo {
  display: flex;
  align-items: center;
  padding: 1em;
  margin-left: 3rem;
}

#logo-text {
  font-weight: bolder;
  font-size: xx-large;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#github {
  margin-right: 3rem;
  padding: 1.5em;
}

/* centering form container */
#form-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}

.form-control {
  margin: 5px;
}
